* {
    font-family: 'Roboto';
    color: black;
    ;

    section:nth-last-child(odd) {
        background-color: var(--bg-grey);

    }

    button:hover {
        border: 4px solid rgb(0, 8, 255);
        background-color: rgb(255, 255, 255);
    }
}

:root {
    --bg-grey: #9d9D9d9d;
    --text-black: black;
    --border: 2px solid black;
    --box-shadow: 2px 2px gray;


}

button {
    padding: 10px 20px 10px 20px;

    a {
        text-decoration: none;
    }

    box-shadow: var(--box-shadow);
    border: var(--border);
    background-color: var(--bg-grey);
}

header {
    border: var(--border);
    display: grid;
    grid-template-columns: 1fr 1fr;

    h2 {
        padding-left: 10px;
        font-size: small;
        align-content: center;
    }

    ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        list-style: none;
        padding: 0;
        gap: 10px;

        li {
            justify-self: center;
        }

        a {
            text-decoration: none;
        }
    }

}

#accueil {
    text-align: center;
    border: var(--border);

    h1 {
        padding-top: 30px;
    }

    div {
        display: flex;
        justify-content: center;
        gap: 100px;
        padding: 40px;
    }

    button:last-child {
        background-color: rgb(255, 255, 255);
    }

    button:last-child:hover {
        border: 4px solid rgb(21, 0, 255);
        background-color: grey;
    }

}

#service {
    display: grid;
    border-left: var(--border);
    border-right: var(--border);
    gap: 1vw;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-around;
    margin-bottom: 10PX;

    h2 {
        grid-column: 1/5;
        text-align: center;
    }

    article {
        margin: 0 0 30px 0;
        justify-self: center;
        width: 20vw;
        box-shadow: var(--box-shadow);
        border: 2px solid grey;
        grid-row-start: 2;

        img {
            width: 100%;
            height: 20vh;
        }

        text-align: center;

        h3 {
            text-align: center;
        }

        p {
            text-align: start;
            padding-inline: 6px;

        }

        button {
            justify-self: center;
            display: block;
            margin-top: 10%;
            margin-bottom: 10%;
        }

    }
}

#realisation {
    display: grid;
    border-left: var(--border);
    border-right: var(--border);
    gap: 1vw;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-around;
    margin-bottom: 10PX;

    h2 {
        grid-column: 1/5;
        text-align: center;
    }

    article {
        margin: 0 0 30px 0;
        justify-self: center;
        width: 20vw;
        box-shadow: var(--box-shadow);
        border: 2px solid grey;
        grid-row-start: 2;

        img {
            width: 100%;
            height: 20vh;
        }

        text-align: center;

        h3 {
            text-align: center;
        }

        p {
            text-align: start;
            padding-inline: 6px;

        }

        button {
            display: block;
            margin-top: 10%;
            margin-bottom: 10%;
            justify-self: center;
        }

    }
}

#contact {
    display: flex;
    flex-direction: column;

    h2 {
        align-self: center;
    }

    form {
        display: flex;
        flex-direction: column;
        align-self: center;
        textarea {
            padding-inline: 27vh;
            height: 20vh;
            border: var(--border);
        }

        input {
            border: var(--border);
        }

        select {
            border: var(--border);
        }

        label {
            padding-top: 20px;
        }

        div:last-of-type {
            padding-top: 20px;
        }

        input:hover {
            border: 2px solid red;
        }

        textarea:hover {
            border: 2px solid red;
        }

        select:hover {
            border: 2px solid red;
        }

        button {
            background-color: white;
            width: 150px;
            align-self: center;
            margin-bottom: 20px;
        }

        button:hover {
            border: 4px solid rgb(30, 0, 255);
            background-color: gray;
        }
    }

}

footer {
    a:first-child:after {
        content: " -";
    }

    a {
        text-decoration: none;
    }

    a:hover {
        color: blue;
    }

    justify-self: center;
}

body {
    border: 1.5px solid black;
}